.hero__title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__svg-bg {
    position: absolute;
    width: 260px;
    fill: rgba(#6199a6, 0.6);
    padding-top: 40px;
    padding-left: 10px;
}

.hero__title {
    font-size: 62.792px;
    font-family: "BERNIER Regular";
    color: rgb(255, 255, 255);
    line-height: 0.889;
    text-align: center;
    margin: 0 20px;
    z-index: 100;
}

.hero__description {
    font-size: 16px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    text-align: center;
    z-index: 200;
}

.nav {
    position: absolute;
    top: 70px;
    left: 115px;

    @include laptop {
        left: 40px;
    }

    @include ipad {
        display: none;
    }
}

.nav__item-name {
    height: 42px;
    border-right: 3px solid transparent;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(69, 90, 100);
    line-height: 1.625;
    text-align: right;
    padding-right: 20px;

    &.active {
        border-right: 3px solid rgb(0, 191, 165);
        color: rgb(0, 191, 165);
    }
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 980px;
        margin-left: 120px;

        @include laptop {
            width: 680px;
        }

        @include ipad {
            width: 720px;
            margin-left: 0;
        }

        @include iphone {
            width: 100%;
            padding-left: 4px;
        }
    }
}

.blog__empty {
    height: 150px;

    @include iphone {
        height: 270px;
    } 
}

.blog__article {
    &-item {
        padding-top: 70px;
        padding-bottom: 75px;
        border-bottom: 5px rgba(55, 62, 66, 0.07) solid;

        &:last-child {
            border-bottom: none;
        }
    }

    &-name {
        font-size: 35px;
        font-family: "BERNIER Regular";
        color: rgb(69, 90, 100);
        line-height: 1.171;
    }

    &-date {
        font-size: 16px;
        font-family: "Roboto";
        color: rgba(0, 191, 165, 0.702);
        line-height: 2.563;
    }

    &-text {
        font-size: 16px;
        font-family: "Roboto";
        color: rgb(69, 90, 100);
        line-height: 1.625;
        width: 880px;

        @include laptop {
            width: 680px;
        }

        @include ipad {
            width: 700px;
        }

        @include iphone {
            width: 310px;
        }
    }
} 