.main {
    height: 100vh;
    min-height: 568px;
    flex-flow: column nowrap;
}

.main__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 110vh;
    transform: translateZ(0);

    &-img {
        display: block;
        width: 100%;
        height: 100%;

        &--ipad {
            display: none;
        }

        &--iphone {
            display: none;
        }

        @include ipad {
            display: none;

            &--ipad {
                display: block;
            }
    
            &--iphone {
                display: none;
            }
        }

        @include iphone {
            display: none;

            &--ipad {
                display: none;
            }
    
            &--iphone {
                display: block;
            }
        }
    }
}

.main__layout {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    will-change: transform;

    &-svg {
        width: 100%;
        fill: rgba(#cdc6cb, 0.2);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header__socials-list {
    display: flex;
    justify-content: space-between;
    width: 150px;
    z-index: 200;
}

.header__socials-icon {
    fill: #dde5e1;

    &:hover {
        fill: #fff;
    }
}

.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    will-change: transform;
}

.hero__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(../images/pers_photo.png) no-repeat;
}

.hero__name {
    font-size: 21px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.333;
}
  
.hero__desc {
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.714;
}

.arrow-down {
    text-align: center;
    margin-bottom: 50px;
    z-index: 100;
    cursor: pointer;
}

.arrow-down-icon {
    height: 20px;
    width: 30px;
    fill: #cdc6cb;
}