.main {
    height: 100vh;
    min-height: 568px;
    flex-flow: column nowrap;
    background-size: cover;
    background-image: url(../images/layout_desktop.png);
    
    @include laptop {
        background-image: url(../images/layout_laptop.png);
    }

    @include ipad {
        background-image: url(../images/layout_ipad.png);
    }

    @include iphone {
        background-image: url(../images/layout_iphone.png);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header__socials-list {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.header__socials-icon {
    fill: #dde5e1;

    &:hover {
        fill: #fff;
    }
}

.header__menu-icon {
    width: 25px;
    height: 25px;
    fill: #fff;
    cursor: pointer;
}

.header__menu-svg {
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.hero__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(../images/pers_photo.png) no-repeat;
}

.hero__name {
    font-size: 21px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.333;
}
  
.hero__desc {
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.714;
}

.arrow-down {
    text-align: center;
    margin-bottom: 50px;
    z-index: 100;
    cursor: pointer;
}

.arrow-down-icon {
    height: 20px;
    width: 30px;
    fill: #cdc6cb;
}