.works {
    flex-direction: column;
}

.works__title-wrap {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf8f0;

    @include iphone {
        height: 120px;
    }
}

.works__svg-bg {
    position: absolute;
    fill: darken(#f0eee7, 5%);
    width: 480px;
    height: 160px;

    @include ipad {
        width: 100%;
    }
}
  

.works__title {
    font-size: 62.792px;
    font-family: "BERNIER Regular";
    color: rgb(55, 62, 66);
    line-height: 0.889;
    width: 285px;
    text-align: center;
    z-index: 200;
    margin: 0 20px;

    @include ipad {
        font-size: 35px;
        width: 160px;
    }
}