aside.aside
    - 
        var articles = [
            {
                name: 'Самое важное в SASS',
                date: '14 марта 2018',
                text: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita cumque, asperiores quam ipsa animi officiis odit repellendus. Quis quia iste in quisquam dolores soluta aut quos rerum consectetur hic.Saepe ducimus voluptates, autem porro a quo libero culpa provident laboriosam tempora voluptatum, facilis at! Ut, consectetur? Sed aliquid sequi repellendus dolorem, labore a at molestiae laboriosam impedit quia nesciunt.Numquam quibusdam consequuntur enim placeat officia a quaerat facere provident incidunt. Assumenda quasi consectetur aliquid at expedita repudiandae placeat nobis doloribus corrupti. Vel voluptates amet placeat facere rem reiciendis voluptatem.Aspernatur, ipsum enim. Similique ullam neque assumenda beatae quisquam qui sequi veritatis officiis, debitis blanditiis? Veniam minima officiis molestias odit dolor beatae ipsam alias incidunt consequatur, eligendi aspernatur commodi dolore.Nemo quia sunt neque quo est quidem mollitia quasi molestiae, nam ullam, commodi recusandae quam facere ipsam sit eaque dolore. Architecto dolorem fugit velit ratione atque saepe officiis exercitationem consequuntur!'
            }, 
            {
                name: 'Почему я выбрал Pug',
                date: '20 марта 2018',
                text: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita cumque, asperiores quam ipsa animi officiis odit repellendus. Quis quia iste in quisquam dolores soluta aut quos rerum consectetur hic.Saepe ducimus voluptates, autem porro a quo libero culpa provident laboriosam tempora voluptatum, facilis at! Ut, consectetur? Sed aliquid sequi repellendus dolorem, labore a at molestiae laboriosam impedit quia nesciunt.Numquam quibusdam consequuntur enim placeat officia a quaerat facere provident incidunt. Assumenda quasi consectetur aliquid at expedita repudiandae placeat nobis doloribus corrupti. Vel voluptates amet placeat facere rem reiciendis voluptatem.Aspernatur, ipsum enim. Similique ullam neque assumenda beatae quisquam qui sequi veritatis officiis, debitis blanditiis? Veniam minima officiis molestias odit dolor beatae ipsam alias incidunt consequatur, eligendi aspernatur commodi dolore.Nemo quia sunt neque quo est quidem mollitia quasi molestiae, nam ullam, commodi recusandae quam facere ipsam sit eaque dolore. Architecto dolorem fugit velit ratione atque saepe officiis exercitationem consequuntur!'
            },
            {
                name: 'Особенности Vue.js',
                date: '27 марта 2018',
                text: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita cumque, asperiores quam ipsa animi officiis odit repellendus. Quis quia iste in quisquam dolores soluta aut quos rerum consectetur hic.Saepe ducimus voluptates, autem porro a quo libero culpa provident laboriosam tempora voluptatum, facilis at! Ut, consectetur? Sed aliquid sequi repellendus dolorem, labore a at molestiae laboriosam impedit quia nesciunt.Numquam quibusdam consequuntur enim placeat officia a quaerat facere provident incidunt. Assumenda quasi consectetur aliquid at expedita repudiandae placeat nobis doloribus corrupti. Vel voluptates amet placeat facere rem reiciendis voluptatem.Aspernatur, ipsum enim. Similique ullam neque assumenda beatae quisquam qui sequi veritatis officiis, debitis blanditiis? Veniam minima officiis molestias odit dolor beatae ipsam alias incidunt consequatur, eligendi aspernatur commodi dolore.Nemo quia sunt neque quo est quidem mollitia quasi molestiae, nam ullam, commodi recusandae quam facere ipsam sit eaque dolore. Architecto dolorem fugit velit ratione atque saepe officiis exercitationem consequuntur!'
            }
        ]
    ul.aside__list
        each article, ndx in articles
            li.aside__item
                a(href=`#article${ndx+1}`).aside__item-name= article.name